:root {
  --background-color: #0891b2;
}

@font-face {
  font-family: playfair_display;
  src: url(./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2,
h3,
.projects div {
  font-family: playfair_display;
}

p {
  font-family: roboto;
}

.headerAbout h2,
.myWork {
  font-size: 3em;
  margin: 0;
}

.headerAbout p {
  font-size: 1.5em;
  line-height: 1.5;
}

.headerAbout p,
.projects p {
  color: rgb(104, 101, 101);
}

.headerIcons {
  display: flex;
  gap: 25px;
}

.headerIcons img {
  width: 9vw;
}

/* Desktop sized styling */

@media (min-width: 1080px) {
  main,
  .headerContent,
  footer > div {
    margin: 60px;
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .headerContent {
    display: flex;
    justify-content: center;
  }

  .profilePicture {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    width: min(36vw, 500px);
  }

  .profilePicture img {
    object-fit: contain;
    width: min(36vw, 500px);

    position: relative;
    grid-area: 1 / 1;
  }

  .profilePicture h1 {
    color: aliceblue;
    font-size: 3.5em;
    align-self: flex-end;
    text-align: center;
    z-index: 2;
    margin-bottom: 0;
    grid-area: 1 / 1;
  }
  .headerAbout {
    z-index: 0;
    background-color: white;
    box-shadow: 0 2px 2px 2px rgb(128, 128, 128, 0.2);
    width: 40vw;
    margin: 40px 0 40px 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .angledBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 360vw;
    height: 78vh;
    background-color: var(--background-color);
    transform: translateX(-34%) translateY(-56%) rotate(-23deg);
    z-index: -1;
  }

  .headerIcons {
    margin-left: auto;
    width: auto;
  }

  .headerIcons img {
    width: min(5vw, 70px);
  }

  .projects {
    max-width: 1200px;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  .footerContainer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 0;
    gap: 20px;
    max-width: 1200px;
  }

  .footerContainer > img {
    object-fit: contain;
    width: min(35vw, 600px);
  }
}

/* Tablet sized styling */

@media (min-width: 600px) and (max-width: 1080px) {
  main,
  .headerContent,
  footer > div {
    margin: 30px;
  }

  .profilePicture {
    position: relative;
    z-index: 1;
    display: flex;
    margin-bottom: -262px;
  }

  .profilePicture img {
    object-fit: contain;
    width: 46vw;
  }

  .profilePicture h1 {
    color: aliceblue;
    font-size: 4em;
    position: absolute;
    width: 100%;
    text-align: end;
  }

  .angledBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 360vw;
    height: 78vh;
    background-color: var(--background-color);
    transform: translateX(-34%) translateY(-56%) rotate(-23deg);
    z-index: -1;
  }

  .headerAbout {
    z-index: 0;
    background-color: white;
    box-shadow: 0 2px 2px 2px rgb(128, 128, 128, 0.2);
    width: 80vw;
    margin-left: auto;
    padding: 20px;
  }

  .headerAbout h2 {
    width: 100%;
    margin-left: calc(100% / 2 + 20px);
  }

  .aboutMe {
    display: block;
    text-align: start;
  }

  .empty {
    width: 41vw;
    height: 16vh;
    float: left;
    display: block;
  }

  .headerIcons * {
    display: none;
  }

  .contact {
    margin-right: 0;
    width: 40vw;
  }

  .footerContainer {
    display: flex;
    justify-content: space-around;
  }

  .footerContainer > img {
    object-fit: contain;
    width: 35vw;
  }
}

/* Phone sized styling */

@media (max-width: 600px) {
  main,
  .footerContainer > div {
    margin: 10px;
  }

  .headerContent {
    margin: 0 20px 20vh 20px;
  }

  .headerContent,
  .headerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutMe {
    margin-top: 15px;
  }

  .angledBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 257vw;
    height: 60vh;
    background-color: var(--background-color);
    transform: translateX(-33%) translateY(-50%) rotate(-45deg);
  }

  .profilePicture {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: 1;
    margin-bottom: 50px;
  }

  .profilePicture img {
    object-fit: contain;
    width: 90vw;
    margin-top: 20px;
    grid-area: 1 / 1;
  }

  .profilePicture h1 {
    z-index: 2;
    font-size: 3em;
    color: aliceblue;
    font-family: playfair_display;
    align-self: flex-end;
    text-align: center;
    grid-area: 1 / 1;
    margin: 0;
  }

  .myWork,
  .contact h2 {
    text-align: center;
  }

  .projects {
    justify-items: center;
  }

  .contactIcons {
    justify-content: center;
  }

  footer {
    background-color: var(--background-color);
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .emailContact img,
  .contactPhone img {
    display: none;
  }

  .contact p:nth-child(3),
  .contactPhone p {
    margin-bottom: -18px;
  }

  .emailContact p {
    margin-top: 0;
  }

  .footerContainer > img {
    object-fit: cover;
    width: 100vw;
  }
}

.iconsProject {
  width: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 5px;
  margin-bottom: 100px;
  gap: 50px;
}

.projects > div div:nth-child(1) {
  width: 355px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: aliceblue;
}

.project1 div:nth-child(1) {
  background-color: #7c75ca;
}

.project2 div:nth-child(1) {
  background-color: #d88f39;
}

.project3 div:nth-child(1) {
  background-color: #5e8f4d;
}

.project4 div:nth-child(1) {
  background-color: #ca7599;
}

.project5 div:nth-child(1) {
  background-color: #4692d9;
}

.project6 div:nth-child(1) {
  background-color: #5e8f4d;
}

.projectDescription {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 2px 2px rgb(128, 128, 128, 0.2);
  width: 334px;
}

.projectDescription h3 {
  margin: 0;
}

.iconsProject {
  width: 100px;
  margin-left: auto;
  display: flex;
  gap: 10px;
  justify-content: end;
}

.iconsProject img {
  width: 20px;
}

/* Footer styles */

footer {
  color: aliceblue;
  font-size: 1em;
  background-color: var(--background-color);
}

footer h2 {
  font-size: 2em;
}

.contactPhone p {
  margin: 0;
}

.contact p:nth-child(3) {
  margin-bottom: 0;
}

.contact p:nth-child(4) {
  margin-top: 0;
}

.contactPhone,
.emailContact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactIcons {
  display: flex;
  gap: 10px;
  /* justify-content: start; */
}

.contactIcons img {
  width: 2.5em;
  height: auto;
  margin-bottom: 50px;
  margin-top: 30px;
}

.emailContact img,
.contactPhone img {
  width: 2em;
}
